/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

      #top {
        position:         absolute;
        top:              0px;
        height:           100%;
        width:            100%;
        z-index:          2;
      }

       #searchInput {
        position:         fixed;
        margin:           10px auto auto auto; 
        width:            50%;
        height:           37px;
        z-index:          9;
        background-color: transparent;
        padding:          0px;
        border-style:     none;
        border-radius:    20px;
        text-align:       left;
        font-family:      'Roboto', sans-serif;
        font-size:        20px;
        padding-left:     15px;
        color:            'black';

      #txtResult {
        position:         fixed;
        margin:           10px auto auto auto; 
        width:            50%;
        height:           37px;
        z-index:          8;
        background-color: #fff; // white
        padding:          0px;
        border:           0.5px solid #000;
        border-style:     none;
        border-radius:    20px;
        /* box-shadow:       0 1px 4px -1px rgba(0, 0, 0, 0.3); */
        text-align:       right;
        font-family:      'Roboto', sans-serif;
        font-size:        20px;
        color:            'black';
        padding-right:    15px;
        pointer-events:   none;
      }

      #map {
        position:         absolute;
        top:              0px;
        height:           100%;
        width:            100%;
        z-index:          1;
      }

      html,               /* Optional: Makes the page fill the window. */
      body {
        height:           100%;
        margin:           0;
        padding:          0;
      }
